<div class="hero">
    <div class="hero-card">
        <div class="hero-txt">
            <h1>Dispossible</h1>
            <small>Timothy Bailey</small>
        </div>
        <div class="logo"></div>
    </div>
</div>

<div class="l-wrap u-content">

    <section id="anchor-about" style="height: 100vh;">1</section>
    <section id="anchor-work" style="height: 100vh;">2</section>
    
    <hr class="rule">

    <section id="anchor-contact">

        <a href="mailto:mail@dispossible.com">mail@dispossible.com</a>
    </section>

</div>