.siteMapList {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    li {
        display: inline-block;
        width: 100%;
        flex-grow: 1;
        padding: 5px;
        position: relative;
        a {
            padding: 50px 40px;
            background: $colorDark;
            display: inline-block;
            color: #000;
            text-decoration: none;
            width: 100%;
            color: #fff;
            &:hover {
                background: lighten($colorDark,10);
            }
        }
    }
    .lvl0 {
        a {
            padding: 80px 40px;
        }
    }
    .lvl1 {

    }
    .lvl2 {
        @media(min-width: $mediaMed){
            width: 50%;
        }
        @media(min-width: $mediaLrg){
            width: 33%;
        }
        a {
            padding: 20px 40px;
        }
    }
    .icon {
        position: absolute;
        left: 20px;
        top: 50%;
        width: 50px;
        height: 50px;
        margin-top: -25px;
        @media(min-width: $mediaMed){
            left: 40px;
            width: 80px;
            height: 80px;
            margin-top: -40px;
        }
    }
}