.blogThumbs {
    border-bottom: 1px solid $colorDark;
    margin: 0 0 40px;
    overflow: hidden;
}

.blogShortThumb {
    padding: 40px;
    display: block;
    color: inherit;
    text-decoration: none;
    border-top: 1px solid $colorDark;
    &:hover,
    &:active {
        color: inherit;
    }
    @media (min-width: $mediaMed){
        text-align: left;
    }
    p {
        text-align: center;
        padding: 0;
        @media (min-width: $mediaMed){
            text-align: left;
        }
    }
    .blogThumbLink {
        @extend a;
        padding-top: 20px;
    }
    h2 {
        position: relative;
        padding-bottom: 10px;
        margin-bottom: 20px;
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 200px;
            margin-left: -100px;
            height: 1px;
            background: transparentize( $colorDark, 0.8 );
            @media (min-width: $mediaMed){
                left: 0;
                margin: 0;
            }
        }
    }
}

.blogShortTitle {
    padding-bottom: 30px;
    @media (min-width: $mediaMed){
        display: inline-block;
        vertical-align: top;
        padding: 0 50px 0 0;
        //margin-right: 50px;
        width: 40%;
        border-right: 1px solid transparentize( $colorDark, 0.8 );
    }
    @media (min-width: $mediaLrg){
        width: 35%;
    }
}

.blogShortDesc {
    @media (min-width: $mediaMed){
        width: 60%;
        padding-left: 50px;
        display: inline-block;
        vertical-align: top;
    }
    @media (min-width: $mediaLrg){
        width: 65%;
    }
}

.postHeader {
    padding-bottom: 30px;
    @media (min-width: $mediaMed){
        text-align: right;
    }
    .portCat {
        padding-bottom: 15px;
        @media (min-width: $mediaMed){
            float :left;
            padding: 0;
        }
        span {
            display: inline-block;
            padding-right: 5px;
            font-weight: bold;
        }
    }
}


.blogTime {
    padding-bottom: 20px;
    text-align: right;
    font-size: 0.8em;
    color: lighten( $colorDark, 20 );
    display: block;
}

.blogPostBody h2 {
    padding: 30px 0 40px;
}

.blogPostBody {
    font-family: $fontFamily2;
}


.code {
    display: block;
    text-align: left;
    background: #4D5849;
    color: #fff;
    padding: 16px;
    margin: 0 0 26px;
    white-space: pre;
}

.codeCss {
    padding-top: 0px;
    &:before {
        content: "CSS";
        display: block;
        padding: 8px 16px;
        margin: 0 0 16px -16px;
        background: #657461;
        color: hsla(0,0%,100%,0.6);
        box-sizing: content-box;
        width: 100%;
    }
}