body{
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: 300;
}
.game{
    width: 600px;
    height: 500px;
    margin: 20px auto;
    border: 1px solid #aaa;
    position: relative;
    overflow: hidden;
    text-align: center;
    background: #eee;
}
.ball{
    padding: 5px;
    position: absolute;
    border-radius: 9999px;
    top: 80%;
    left: 50%;
    margin-top: -5px;
    margin-left: -5px;
    background: #000;
}
.paddle{
    width: 50px;
    height: 5px;
    background: #444;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -25px;
    border-radius: 50%/4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.4), 0 2px 5px 0 rgba(255,255,255,0.5) inset;
}
.blocks{
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    line-height: 0;
}
.block{
    width: 20%;
    height: 20px;
    background: #aaa;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.2) inset;
}
.hud span{
    padding: 5px 20px;
    display: inline-block;
}
.power{
    position: absolute;
    text-align: center;
    text-shadow: 0 5px 5px rgba(255,255,255,1);
    font-weight: bold;
}
.powerHud{
    font-weight: bold;
    margin-top: 25px;
}
.row0{ background-color: #e66363; }
.row1{ background-color: #e69463; }
.row2{ background-color: #f9fe6e; }
.row3{ background-color: #c4eb70; }
.row4{ background-color: #75c65c; }
.row5{ background-color: #6edcb1; }
.row6{ background-color: #6af1ef; }
.row7{ background-color: #92cbec; }
.row8{ background-color: #5673f3; }
.row9{ background-color: #a878f1; }
.row10{ background-color: #eaaaf5; }
.row11{ background-color: #e66363; }
.row12{ background-color: #e69463; }