body {
    text-align: center;
    margin-top: 20px;
}
.progress {
    width: 200px;
    height: 200px;
    background: #eee;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
    border: 2px solid #aaa;
    display: inline-block;
    text-align: left;
}
.progress:after {
    content:"";
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .4);
    border-radius: 100%;
    z-index: 5;
}
.progress > span {
    text-align: center;
    top: 50%;
    left: 0;
    z-index: 6;
    width: 100%;
    position: absolute;
    line-height: 0;
    font-family: arial, sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: #444;
}
.bar1, .bar2 {
    position: absolute;
    width: 100px;
    height: 200px;
    overflow: hidden;
    top: 0;
}
.bar1 {
    left: 0;
}
.bar2 {
    right: 0;
}
.bar1 > span, .bar2 > span {
    width: 100px;
    height: 200px;
    background: #0d0;
    display: inline-block;
    position: absolute;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.bar1 > span {
    -webkit-transform-origin: center right;
    -moz-transform-origin: center right;
    -o-transform-origin: center right;
    -ms-transform-origin: center right;
    transform-origin: center right;
}
.bar2 > span {
    -webkit-transform-origin: center left;
    -moz-transform-origin: center left;
    -o-transform-origin: center left;
    -ms-transform-origin: center left;
    transform-origin: center left;
}
input {
    width: 100%;
    margin-top: 10px;
}