.clock {
    text-align: center;
    position: relative;
    top: 50vh;
    margin-top: -1em;
    font-size: 3em;
    color: #fff;
    text-shadow: 0 2px 4px rgba(0,0,0,.4);
}
body {
    -webkit-transition: 600ms ease-in-out;
       -moz-transition: 600ms ease-in-out;
            transition: 600ms ease-in-out;
}