body {
    padding: 40px;
}
.magIcn{
    position: relative;
    border-radius: 100%;
    width: 38px;
    height: 38px;
    border: 1px solid #555;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.15) inset;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
.magIcn:after{
    content: "";
    height: 1px;
    width: 5px;
    background: #444;
    position: absolute;
    right: -5px;
    top: 19px;
}
.magIcn:before{
    content: "";
    height: 5px;
    width: 30px;
    position: absolute;
    right: -35px;
    top: 17px;
    background: rgb(51,51,51);
    background: -moz-linear-gradient(top,  rgba(51,51,51,1) 45%, rgba(119,119,119,1) 81%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(45%,rgba(51,51,51,1)), color-stop(81%,rgba(119,119,119,1)));
    background: -webkit-linear-gradient(top,  rgba(51,51,51,1) 45%,rgba(119,119,119,1) 81%);
    background: -o-linear-gradient(top,  rgba(51,51,51,1) 45%,rgba(119,119,119,1) 81%);
    background: -ms-linear-gradient(top,  rgba(51,51,51,1) 45%,rgba(119,119,119,1) 81%);
    background: linear-gradient(to bottom,  rgba(51,51,51,1) 45%,rgba(119,119,119,1) 81%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#777777',GradientType=0 );
}