body{
    background: #97e;
}

.teaCup{
    position: relative;
    top: 350px;
    left: 50px;
    width: 200px;
    height: 260px;
    -webkit-perspective: 500px;
    perspective: 500px;
}
.teaCup:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background: #f7f7f7;
    border-radius: 200px / 80px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background: #cccccc;
    background: -moz-linear-gradient(left,  #cccccc 0%, #eeeeee 10%, #ffffff 20%, #ffffff 80%, #eeeeee 90%, #cccccc 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#cccccc), color-stop(10%,#eeeeee), color-stop(20%,#ffffff), color-stop(80%,#ffffff), color-stop(90%,#eeeeee), color-stop(100%,#cccccc));
    background: -webkit-linear-gradient(left,  #cccccc 0%,#eeeeee 10%,#ffffff 20%,#ffffff 80%,#eeeeee 90%,#cccccc 100%);
    background: -o-linear-gradient(left,  #cccccc 0%,#eeeeee 10%,#ffffff 20%,#ffffff 80%,#eeeeee 90%,#cccccc 100%);
    background: -ms-linear-gradient(left,  #cccccc 0%,#eeeeee 10%,#ffffff 20%,#ffffff 80%,#eeeeee 90%,#cccccc 100%);
    background: linear-gradient(to right,  #cccccc 0%,#eeeeee 10%,#ffffff 20%,#ffffff 80%,#eeeeee 90%,#cccccc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#cccccc',GradientType=1 );
    z-index: 1;
}
.teaCup:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    border-radius: 200px / 80px;
    box-shadow: 0 5px 30px 15px rgba(0,0,0,.1);
    z-index: 0;
}
.cupTop{
    position: absolute;
    top: -22px;
    left: 0;
    width: 100%;
    height: 45px;
    border-radius: 200px / 45px;
    z-index: 2;
    background: #ddd;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 5px transparent solid;
    border-color: rgba(0,0,0,.15);
    background-clip: content-box;
    background: #cccccc;
    background: -moz-linear-gradient(left,  #cccccc 0%, #eeeeee 10%, #ffffff 20%, #ffffff 80%, #eeeeee 90%, #cccccc 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#cccccc), color-stop(10%,#eeeeee), color-stop(20%,#ffffff), color-stop(80%,#ffffff), color-stop(90%,#eeeeee), color-stop(100%,#cccccc));
    background: -webkit-linear-gradient(left,  #cccccc 0%,#eeeeee 10%,#ffffff 20%,#ffffff 80%,#eeeeee 90%,#cccccc 100%);
    background: -o-linear-gradient(left,  #cccccc 0%,#eeeeee 10%,#ffffff 20%,#ffffff 80%,#eeeeee 90%,#cccccc 100%);
    background: -ms-linear-gradient(left,  #cccccc 0%,#eeeeee 10%,#ffffff 20%,#ffffff 80%,#eeeeee 90%,#cccccc 100%);
    background: linear-gradient(to right,  #cccccc 0%,#eeeeee 10%,#ffffff 20%,#ffffff 80%,#eeeeee 90%,#cccccc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#cccccc',GradientType=1 );
    box-shadow: 0 -44px 50px -40px rgba(0,0,0,.15) inset;
    overflow: hidden;
}
.cupTop:after{
    content: "";
    position: absolute;
    background: #a71;
    width: 100%;
    height: 45px;
    top: 20px;
    border-radius: 200px / 40px;
}
.handle{
    position: absolute;
    top: 15px;
    left: 100px;
    z-index: 0;
    width: 60px;
    height: 120px;
    border-radius: 130px / 200px;
    border: #f4f4f4 solid 20px;
    border-width: 30px 20px 30px 80px;
    -webkit-transform: skewY(-15deg);
    transform: skewY(-15deg);
}
.handle:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    border-radius: 130px / 200px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 0 0 30px 5px rgba(0,0,0,.5);
}
.puff{
    background: rgba(255,255,255,0.1);
    width: 70%;
    height: 10px;
    position: absolute;
    left: 15%;
    z-index: 5;
    opacity: 0;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.09) 50%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.09)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.09) 50%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.09) 50%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.09) 50%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.09) 50%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
}