@viewport {
    width: device-width;
    zoom: 1.0;
}


$fontFamily: "Open Sans", Tahoma, Geneva, Helvetica, Arial, sans-serif, "GNU Unifont", Symbola, EversonMono, "DejaVu Sans", "Arial Unicode MS", Dingbats;
$rem: 14px;


$color-primary: #639;
$color-accent: lighten($color-primary,30);
$color-text: #444;
$color-text_alt: #fff;
$color-bg: #ddd;





@mixin cover(){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}