@viewport {
    width: device-width;
    zoom: 1.0;
}


$fontFamily: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, "Open Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$rem: 14px;


$color-primary: #43A047;
$color-primaryL: lighten($color-primary,30);
$color-primaryD: darken($color-primary,30);

$color-secondary: #99673D;
$color-secondaryL: lighten($color-secondary,30);
$color-secondaryD: darken($color-secondary,30);

$color-fill: #23252b;
$color-text: #444;
$color-text_alt: #fff;
$color-bg: #242529;// #ddd;





@mixin cover(){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}