.contact {
    text-align: center;

    &-card {
        display: inline-block;
        vertical-align: top;
        padding: 32px 0;
        margin: 0 5%;
        width: 128px;

        svg {
            display: inline-block;
            width: 64px;
            height: 64px;
            transition: 500ms ease;
        }

        &:hover svg {
            transform: translateY(-5%);
            filter: drop-shadow(0 10px 5px rgba(black,0.2));
        }
    }

    &-title {
        margin-top: 16px;
        padding: 8px;
        position: relative;
        overflow: hidden;
        perspective: 100px;
        *:hover > & {
            .contact-main {
                transform: translateY(-100%) rotateX(90deg);
                background: lighten($color-fill,5);
            }
            .contact-sub {
                z-index: 2; // fallback for no 3d rotate
                transform: translateY(0%) rotateX(0deg);
                background: $color-fill;
            }
        }
    }

    &-main,
    &-sub {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        padding: inherit;
        width: 100%;
        background: $color-fill;
        backface-visibility: hidden;
        transition: 800ms ease;
        transform-origin: bottom center;
        transform: translateY(0%) rotateX(0deg);
    }
    &-main {
        z-index: 1; // fallback for no 3d rotate
    }
    &-sub {
        background: darken($color-fill,10);
        transform-origin: top center;
        transform: translateY(100%) rotateX(-90deg);
    }
}