.navIcon {
    position: absolute;
    top: 50%;
    right: 16px;
    margin-top: -16px;
    width: 32px;
    height: 32px;
    cursor: pointer;

    &-line {
        position: absolute;
        display: inline-block;
        top: 0;
        left: 15%;
        width: 70%;
        height: 2px;
        border-radius: 99px;
        background: white;
        transition: 200ms ease;
        &1 {
            top: 25%;
        }
        &2 {
            top: 50%;
            margin-top: -1px;
        }
        &3 {
            top: auto;
            bottom: 25%;
        }

        .is-open > & {
            &1 {
                transform: rotate(135deg);
                top: calc(50% - 1px);
            }
            &2 {
                opacity: 0;
            }
            &3 {
                transform: rotate(-135deg);
                bottom: calc(50% - 1px);
            }
        }
    }

}